* {
  --white: #fff;
  --grey: #f0f2f5;
  --dark-grey: #c5c5c1;
  --text-color: #3b4a54;
  --chat-background-color: #f1ede6;
  --message-out: #d9fdd3;
  --dark-green: #008069;
  --hovered-dark-green: #017561;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  color: var(--text-color);

  font-family: "Open Sans", sans-serif;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form__header {
  color: var(--dark-green);
  font-size: 35px;
}

.form__input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  padding: 15px;
  box-sizing: border-box;
}

.form__input label {
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.form__input input {
  border: 1px solid var(--dark-green);
  width: auto;
}

.form__button {
  height: 35px;
  width: 160px;
  font-size: 16px;
}
